@media (max-width:1000px){
    .header__burger-btn{
        display: block;
    }
    .menu{
        height: 100%;
        position: absolute;
        left: -350px;
        top: 0;
        width: 350px;
        background-color: #8C30F5;
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
    }
    .menu__list{
        display: block;
    }
    
    .menu__link{
        color: black;
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }
    .header.open .menu{
        transform: translateX(100%);
    }
    .main__title{
        font-size: 60px;
        line-height: 67px;
    }
}
@media (max-width:900px){
    .header{
        margin-bottom: 100px;
    }
    .main__title{
        font-size: 50px;
        line-height: 50px;
    }
    .main__img {
        display: block;
        width: 450px;
        height: 350px;
    }
    .footer{
        margin-top: 100px;
    }
}
@media (max-width:785px){
    .main__content{
        text-align: center;
        flex-direction: column;
        gap: 30px;
    }
    .main__btn {
        margin: 0 auto;
    }
}
@media (max-width:570px){
    .scr{
        max-width: 100%;
    }
    .main__title {
        font-size: 44px;
        line-height: 37px;
    }
    .main__text {
        width: 320px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 24px;
    }
    .main__img {
        display: block;
        width: 300px;
        height: 250px;
    }
    .main__btn {
        font-size: 16px;
        line-height: 27px;
        padding: 12px 20p;
    }
}
@media (max-width:400px){
    .footer-content{
        flex-direction: column;
        gap: 30px;
    }
    .main__text {
        width: 300px;}
}