*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
    margin-bottom: 300px;
    }
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }
    .header__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header__burger-btn{
        display: none;
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        z-index: 2;
    }
    .header__burger-btn span{
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: black;
        left: 5px;
        transition: transform .5s,opacity .5s, background-color .5s;
    }
    .header__burger-btn span:nth-child(1){
        transform: translateY(-10px);
    }
    .header__burger-btn span:nth-child(3){
        transform: translateY(10px);
    }
    .header.open .header__burger-btn span{
        background-color: white;
     }
    .header.open .header__burger-btn span:nth-child(1){
        transform: translateY(0) rotate(-45deg);
     }
    .header.open .header__burger-btn span:nth-child(2){
       opacity: 0;
    }
    .header.open .header__burger-btn span:nth-child(3){
        transform: translateY(0) rotate(45deg);
     }
    .logo{
        display: block;
    }
    .logo__img{
        width: 200px;
    }
    .menu{
        display: flex;
        gap: 180px;
    }
    .menu__link{
        color: #0B0D17;
    }
    .menu__list{
        display: flex;align-items: center;
        gap: 30px;
    }
    .main__content{
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .scr{
        display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
width: 540px;height: 340px;
    }
    .main__img{
        display: block;
        width: 500px;
height: 400px;
    }
    
    .main__title{
        font-size: 72px;
font-style: normal;
font-weight: 800;
line-height: 98px;
color: #0B0D17;
    }
    .main__text{
        margin: 0 auto;
        max-width: 540px;
        font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px;
    }
    .main__btn{
        font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px;
border-radius: 8px;
padding: 16px 35px;
background-color: #8C30F5;
    }
.footer{
    margin-top: 200px;
    padding: 15px;
    background-color: #0B0D17;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;text-align: center;
}
.footer-text{
    color: #D9DBE1;
}
.title-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 15px;
}
